[Desktop Entry]
Name=UnlockMe
Comment=Customize, tweak and clean your system
Exec=unlockme-main
Icon=unlockme
Terminal=false
Type=Application
Encoding=UTF-8
Categories=XFCE;GTK;Application;System;Settings;X-XFCE-SettingsDialog;
StartupNotify=false