[Desktop Entry]
Name=UnlockMe
Comment=Customize, tweak and clean your system
Exec=unlockme-main
Icon=unlockme
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;System;Settings;
StartupNotify=false