[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Compton
Comment=Start Compton Compositor for X11
Exec=compton -b
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=true

